.box {
    /*width: 1479px;*/
    /*height: 982px;*/
    width: 100%;
    height: 100%;
}

.box .group {
    position: fixed;
    width: 1485px;
    height: 982px;
    top: 0;
    left: 0;
}

.box .overlap {
    position: relative;
    width: 1479px;
    height: 982px;
}

.box .game-start {
    position: absolute;
    width: 183px;
    height: 71px;
    top: 848px;
    left: 725px;
}

.box .overlap-group {
    position: relative;
    width: 181px;
    height: 71px;
    background-color: #f4f4f4;
    border-radius: 20px;
}

.box .text-wrapper {
    width: 119px;
    top: 19px;
    left: 31px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 30px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .cancel {
    position: absolute;
    width: 125px;
    height: 71px;
    top: 848px;
    left: 573px;
}

.box .div-wrapper {
    position: relative;
    width: 123px;
    height: 71px;
    background-color: #f4f4f4;
    border-radius: 20px;
}

.box .div {
    width: 73px;
    top: 18px;
    left: 25px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 30px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .player-box {
    position: absolute;
    width: 123px;
    height: 71px;
    top: 143px;
    left: 678px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
}

.box .text-wrapper-2 {
    width: 84px;
    top: 161px;
    left: 698px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #a6a6a6;
    font-size: 30px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .background {
    position: absolute;
    width: 1479px;
    height: 982px;
    top: 0;
    left: 0;
}

.box .text-wrapper-3 {
    width: 219px;
    top: 74px;
    left: 630px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .notification {
    position: absolute;
    width: 595px;
    height: 264px;
    top: 399px;
    left: 442px;
    background-color: #ffffff;
    border-radius: 20px;
}

.box .message {
    position: absolute;
    width: 538px;
    top: 442px;
    left: 471px;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.box .ok {
    position: absolute;
    width: 121px;
    height: 34px;
    top: 590px;
    left: 782px;
}

.box .text-wrapper-4 {
    width: 119px;
    top: 0;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .cancel-2 {
    position: absolute;
    width: 75px;
    height: 36px;
    top: 590px;
    left: 583px;
}

.box .text-wrapper-5 {
    width: 73px;
    top: 0;
    left: 0;
    font-family: "Inter-Thin", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 30px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.box .line {
    position: absolute;
    width: 1px;
    height: 55px;
    top: 580px;
    left: 740px;
    object-fit: cover;
}
